* {
  background-color: black;
}

.text {
  color: corn-silk;
  text-align: center;
  margin-top: 100px;
}

.circle {
  width: 250px;
  height: 250px;
  background-color: corn-silk;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
